/* XL Device 1200px. */

@media only screen and (min-width: 1201px) and (max-width: 1500px) {}


/* LG Device: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {}


/* MD Device: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Mobile device */
@media (min-width: 768px){
    .mobile-header-menu-section{
        display: none;
    }
    .mobileFooter-fixed-navbar{
        display: none;
    }
}

/* Mobile devies max width */
@media (max-width: 767px) {
    /* .col-md-12{
        padding-right: 8px !important;
        padding-left: 8px !important;
    } */

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50% !important;
        max-width: 50% !important;
        padding-right: 8px !important;
        padding-left: 8px !important;
    }
    .hero-right-slider-items{
        height: 140px;
    }
    .ClickTop{
        display: none;
    }
    .mobileHide {
        display: none;
    }
    .StyleOnetitle h2 {
        margin-top: 14px;
    }
    .bestlite-container {
        padding-top: 0px !important;
    }
    .front-title h3{
        padding-right: 30px !important
    }
    .footer-content{
        flex-direction: column;
    }
    .footer-area {

        display: none;
    }
    

    /* last-child */

    /* Start front page */
    .mobile-header-menu-section {
        background: var(--brandColor);
        border-bottom: var(--brandColorDark);
    }
    .front-title h3 {
        font-size: 15px;
        padding: 7px 10px;
    }
    .main-express {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-gap: 4px;
        width: 100%;
        overflow: hidden;
    }
    .category-products-item img {
        width: 60px;
        padding: 8px;
    }
    .category-products-item p {
        font-size: 9px;
        padding: 10px;
        padding-bottom: 10px;
    }
    .main-bdbaba-mall {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-gap: 10px;
    }
    .bdbabamall-image img {
        height: 121px;
        object-fit: cover;
    }
    .bdbabamall-image {
        height: 135px;
    }
    .bdbabaCompany img {
        height: 40px;
        width: 40px;
    }
    .bdbabaCompany {
        top: -30px;
    }
    .main-best-selling-products {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    /* .bdbabamall-box:last-child{
        display: none;
    } */
    .main-tabs {
        background: white;
        height: 100%;
        padding: 5px;
            padding-bottom: 5px;
        display: block ruby;
        overflow: hidden;
        overflow-x: scroll;
        width: 100%;
        padding-bottom: 13px;
    }
    .TabLink {
        padding: 3px 8px;
        font-size: 13px;
    }
    .main-fruits {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .cat-right-product-box img {
        width: 100%;
        height: 158px;
        object-fit: cover;
    }
    .price-and-addto-cart .AddtoCart {
        font-size: 9px;
    }
    .price-and-addto-cart .cat-product-price{
        padding: 5px;
        font-size: 10px;
    }
    .product-thumb {
        height: 156px;
    } 
    .StyleOnetitle h2{
        font-size: 15px;
    }
    .StyleOnetitle h2::after {
        width: 176px;
        margin-top: 5px;
    }
    .fruits-box h2 {
        font-size: 13px;
    }
    .front-title p {
        display: none;
    }
    .front-page-title {
        /* margin-top: 40px; */
    }
    .right-featured-products {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .right-featured-items h2 {
        font-size: 14px;
    }
    .eight-column-wrapper {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
    }
    .main-sidebar-for-eight-column {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
    }
    .featured-product-front-page {
        margin-top: 20px;
    }
    .featured-product-front-page .featured-discunt {
        top: 33px;
    }
    .main-trade-services {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        margin-bottom: 45px;
    }
    .trade-service-box img {
        height: 108px;
    }
    .trade-service-box h2 {
        font-size: 14px;
        padding: 0px 9px;
        margin-bottom: 10px;
    }
    .ClickTop {
        right: 30px;
    }
    .women-fashin-section {
        margin-top: 20px;
    }
    .mans-fashing-section {
        margin-top: 20px;
    }
    .beslite-title {
        margin-top: 35px !important;
    }
    
    /* footer section */
    .footer-left {
        margin-bottom: 10px;
    }
    .widget-title {
        margin-bottom: 0rem !important;
        font-size: 1rem !important;
    }
    .widget {
        margin-top: 17px;
    }
    .footer-middle ul.widget-body li a{
        font-size: 13px;
    }

    /* title */
    .StyleOnetitle h2::after{
        width: unset;
    }
    .express-main-box img {
        border-radius: unset;
        width: 100%;
    }
    .express-main-box {
        border-radius: unset;
    }
    .bdbabaexpress-section {
        background: #e8e8e8;
    }

    /* sidebar manu */
    .main-cart-fixed-sidebar {
        max-width: 345px;
    }
    .inCart-image img {
        height: auto;
    }
    .inCart-middle-content h2 {
        font-size: 12px;
    }
    .heroSectionMobile {
        padding: 0px !important;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
    }
    .main-hero-section {
        margin-top: 0px;
    }
    .hero-right-mini-slider img {
        height: 71px;
    }

    /* main under two section */
    .main-under-two-section {
        display: none;
    }
    .ThreeColAds {
        /* margin: 0px !important;
        padding: 0px !important; */
    }
    .ads-single-box {
        overflow: hidden;
        /* padding: 12px 23px; */
        width: 100%;
    }

    /* Order page */
    .order-section {
        margin-top: 60px;
    }
    .main-order-left-side h2 {

    }
    .main-order-left-side {
        padding: 0px 5px;
    }
    .formLabel{
        font-size: 13px;
    }
    .inputField {
        height: 34px;
        font-size: 14px;
        width: 100%;
    }
    .form-group {
        margin-bottom: 5px !important;
    }
    .order-content li {
        font-size: 13px;
    }
    .orderButton {
        font-size: 14px;
        margin-top: 13px;
    }
    .cart-right-order-summery {
        padding: 10px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-top: 20px !important;
        background: #f5f9fb;
        box-shadow: 0px 0px 10px 0px #ccc;
        margin-bottom: 20px;
    }
    .OrdercheckoutBtn {
        background: var(--brandColorDark);
        color: var(--white);
        border: none;
        font-size: 14px;
    }
    .BtnColor {
        background: var(--brandColorDark);
        color: var(--white);
        border: none;
    }
    .main-thankyou-page {
        height: 198px;
        background-size: contain;
    }
    .bestlite-container {
        
    }
    .topHeader-section {
        display: none;
    }
    .mobileFooter-fixed-navbar {
        margin-top: 50px;
    }

    /* Payment page */
    .payment-section {
        margin-top: 40px;
    }
    .payment-left-sidebar h2 {
        font-size: 15px;
        color: #000000d4;
        font-weight: lighter;
    }
    .payment-left-sidebar {
        padding: 25px 0px;
    }
    .paymentbtn {
        background: var(--brandColorDark);
        color: var(--white);
        border: none;
        font-size: 14px;
    }

    /* Profile page */
    .left-profile-box img {
        width: 30% !important;
    }
    .profile-left-side {
        margin-top: 4rem !important;
    }
    .profileTabs .nav-link {
        font-size: 14px;
    }
    .personal-information-title i {
        padding: 8px 9px;
        font-size: 13px;
    }
    .personal-information-title h6 {
        font-size: 12px;
    }
    .personal-information-edit {
        padding: 1px 14px;
        font-size: 14px;
    }
    .single-line-row p {
        font-size: 13px;
    }
    .single-line-row {
        margin-top: 11px !important;
    }
    .all-balance-box {
        display: flex;
        flex-direction: column;
        grid-gap: 5px;
    }

    /* Hero sidebar section */
    .hero-left-sidebar-menu {
        display: none;
    }
    
    .hero-right-slider {
        width: 100%;
        margin-top: -8px;
    }
    


    /* sidebar menu */
    .main-left-fixed-sidebar {
        width: 100%;
    }
    
    /* Login page */
    .login-box {
        width: 100%;
    }
    .login-box input {
        width: 100%;
    }
    .login-icon i {
        width: 70px;
        height: 70px;
        font-size: 33px;
    }
    .main-login-wrapper {
        height: unset;
        margin: 45px 0px;
    }

    /* Registation page */
    .Register-left-wrapper {
        display: none;
    }
    .Register-right-column {
        padding: 25px 10px;
        height: unset;
        background-color: #e43a00;
    }
    /* Single page */
    .product-area{
        padding: 0px;
    }
    .product-content-area h3{
        margin: 0px;
        font-size: 19px;
        margin-bottom: 7px;
        margin-top: 15px;
    }
    .rating-container i{
        font-size: 15px;
    }
    p.short-description {
        font-size: 13px;
    }
    ul.color-block li.black, ul.color-block li.red, ul.color-block li.blue{
        width: 18px;
        height: 18px;
    }

    .mobileTab {
        padding: 0px 20px;
        padding-bottom: 10px !important;
        margin-top: 16px !important;
    }
    .right-mobile-menu i {
        font-size: 20px;
    }
    .bargerMenu i {
        font-size: 23px;
    }
    .btn-group-lg>.btn, .btn-lg{
        padding: 5px 10px !important;
    }
    figure.comment-img {
        max-width: 2rem;
        height: 2rem;
        border-radius: 50%;
        overflow: unset;
        margin-right: 10px;
    }
    .comment-part .comment-rating {
        top: unset;
        font-size: 6px;
    }
    .widget.widget-newsletter {
        display: unset !important;
    }
    .Mhr{
        border-bottom: 2px solid #ff9007;
        padding-bottom: 10px;
    }
    .product-desc {
        margin-top: 0px !important;
    }
    .product-desc-padding {
        padding: 0px 15px;
    }

    /* Header section hide for moble device */
    .header-area{
        display: none;
    }
    .category-sidebar {
        display: none;
    }

    .category-info {
        flex-direction: column;
    }
    .product-item {
        flex-direction: column;
    }
    .icon-wrap.d-flex {
        justify-content: center;
    }
    .logo-area {
        text-align: center;
    }
    .features-box{
       padding-right: 0;
    }
    .feature-item{
        flex-direction: column;
        border: 0;
        margin-bottom: 30px;
    }
    .new-arrival-content{
        flex-direction: column;
    }
    .new-arrival-column .new-list a img {
        width: 100%;
    }
    .new-arrival-column {
        margin-bottom: 20px;
    }
    .new-arrival-inner .heading {
        order: 2;
    }
    .new-arrival-inner .heading {
        order: 2;
        width: 100%;
        margin-top: 31px;
    }


    /* New styling here */

    .shipping-box h2 {
        font-size: 13px;
    }
    .shipping-box p{
        font-size: 12px;    
    }
    .shipping-box{
        min-height: 147px;
    }
    .shipping-box i {
        font-size: 36px;
        margin-bottom: 10px;
    }
    .shipping-box{
        margin-bottom: 14px;
    }
    .shipping-container{
        padding-bottom: 0px;
    }
    .featured-product-img{
        height: auto;
    }
    .featured-product-front-page{
        height: unset;
    }

    .deal-otd-content h2{
        font-size: 17px;
    }
    .deal-contnet{
        font-size: 12px;
    }
    .deal-otd-featured-items{
        grid-template-columns: auto;
    }
    .deal-otd-title h2{
        font-size: 20px;
    }
    .tab-product-thumb {
        height: 215px;
    }
    .deal-otd-content {
        width: 100%;
        padding: 16px;
        position: unset;
        background: white;
        box-shadow: 1px 1px 7px 0px #0000006e;
        border-radius: 4px;
        margin: unset;
    }
    .deal-otd-featured-items{
        background-color: unset !important;
        background-image: unset !important;
    }
    .coundown-wrapper .circle {
        width: 40px;
        height: 40px;
        font-size: 18px;
    }
    .deal-price {
        color: #ff5705;
    }
    .coundown-wrapper span{
        font-size: 8px;
    }
    .discountRadius span {
        padding: 13px 4px;
        font-size: 15px;
    }
    .tab-products-wrapper {
        grid-template-columns: auto auto;
        grid-gap: 8px;
    }
    .tab-product-hide-content{
        display: none;
    }
    .tab-product-content h3{
        font-size: 12px;
    }
    .tab-product-content{
        padding-bottom: 10px;
    }
    .tab-product-content h5{
        font-size: 14px;
    }
    .product-middle-banner{
        height: 95px;
    }
    .selor-kamiz-section{
        margin-top: 0px;
    }
    .right-featured-items button {
        padding: 4px 30px;
        font-size: 13px;
        border-radius: 2px;
    }
    .tranding-title{
        text-align: center;
    }
    .tranding-title h2{
        font-size: 30px;
    }
    .tranding-title .underline{
        width: 40px;
    }
    .our-blog-item{
        margin-bottom: 20px;
    }
    .our-blog-section{
        margin-bottom: 15px;
    }
}